<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://localhost:9001/CSS/index.css">
    <link rel="stylesheet" href="http://localhost:9001/bootstrap4/bootstrap.min.css">
</head>

<body>
    <header class="mb-auto" style="z-index: 3;">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="font-weight: 500;">
            <a class="navbar-brand" href="http://localhost:9001/"
                style="color: #f87800;border: 2px solid #f87800; border-radius: 3px;padding: 5px; text-shadow: 0.5px 0.5px rgb(104, 104, 104); box-shadow: 0.5px 0.5px rgb(104, 104, 104);">!Vamos
                Bien!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                style="z-index: 3">
                <img class="navbar-toggler-icon" src="http://localhost:9001//assets/icons/three-bars.svg">
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="http://localhost:9001/">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item nav-link-active">
                        <a class="nav-link text-light" href="http://localhost:9001/Flights">Flights<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="http://localhost:9001/Promotions">Promotions<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="http://localhost:9001/Explore">Explore<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="http://localhost:9001/About">About Us<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li> -->
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <a href="../Login/login.html" class="btn btn-outline-light my-2 my-sm-0 btn-outline-orange"
                        style="font-weight: 500">Login</a>
                    <a href="../Register/register.html" class="btn btn-outline-light my-2 my-sm-0 btn-outline-orange"
                        style="font-weight: 500; margin-left: 15px;">Register</a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://localhost:9001/jquery/jquery-3.3.1.slim.min.js"></script>
    <script src="http://localhost:9001/popper/popper.min.js"></script>
    <script src="http://localhost:9001/bootstrap4/bootstrap.min.js"></script>
    <style>
        body {
            letter-spacing: 0.05em;
        }
    </style>
</body>

</html>